/* ----------------------- Start of Nav Bar Related -----------------------*/
.navbar {
    background-color: white;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

.primary-icon {
    height: 64px;
}

.nav-list {
    font-family: Gilroy-Bold;
    list-style-type: none;
}

.nav-list .list-item {
    display: inline-block;
    padding: 12px;
}

.navbar a {
    color: grey;
    text-decoration: none;
}

.navbar .list-item a:hover {
    border-bottom: 4px solid grey;
}

.menu {
    display: none;
}

.menu-line {
    width: 24px;
    height: 4px;
    background-color: grey;
    margin-bottom: 4px;
}

@media all and (max-width: 800px) {
    .navbar {
        flex-direction: column;
    }

    .navbar .container-icon {
        width: 100%;
    }

    .primary-icon {
        height: 64px;
        margin-top: 12px;
        margin-left: 28px;
    }

    .nav-list {
        list-style-type: none;
        width: 100%;
        text-align: left;
        padding-top: 10px;
        display: none;
    }

    .nav-list .list-item {
        display: block;
        padding-left: 12px;
    }

    .menu {
        display: block;
        position: absolute;
        top: 28px;
        right: 20px;
    }

    .active {
        margin-top: 0;
        margin-left: 24px;
        padding-top: 0;
        display: block;
    }
}
/* ----------------------- End of Nav Bar Related -----------------------*/